@page
@model FamilyRecipes.Pages.Recipes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recipe.Name" class="control-label"></label>
                <input asp-for="Recipe.Name" class="form-control" onkeyup="this.value = this.value.toTitleCase();"/>
                <span asp-validation-for="Recipe.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Type" class="control-label"></label>
                <input asp-for="Recipe.Type" class="form-control" onkeyup="this.value = this.value.toTitleCase();"/>
                <span asp-validation-for="Recipe.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.CreatedBy" class="control-label"></label>
                <input asp-for="Recipe.CreatedBy" class="form-control" onkeyup="this.value = this.value.toTitleCase();"/>
                <span asp-validation-for="Recipe.CreatedBy" class="text-danger"></span>
            </div>

            <fieldset>
                <legend>Ingredients</legend>
                <table id="ingredientTable" class="table">
                    <thead>
                        <tr>
                            <td>Ingredient</td>
                            <td>Quantity</td>
                            <td>Units</td>
                            <td></td>
                        </tr>
                    </thead>

                    <tr id="tablerow0">
                        <td>
                            @Html.TextBoxFor(m => m.Ingredients[0].Name, new { @class = "form-control form-control-sm valid", @onkeyup = "this.value = this.value.toLowerCase();" })
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Ingredients[0].Quantity, new { @class = "form-control form-control-sm valid", @onkeyup = "this.value = this.value.toLowerCase();" })
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Ingredients[0].Unit, new { @class = "form-control form-control-sm valid", @onkeyup = "this.value = this.value.toLowerCase();" })
                        </td>
                        @*<td>
                            <div class="editor-field">
                                <input asp-for="Ingredients[0].Name" class="form-control form-control-sm" onkeyup="this.value = this.value.toLowerCase();" />
                                <span asp-validation-for="Ingredients[0].Name" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                <input asp-for="Ingredients[0].Quantity" class="form-control form-control-sm" onkeyup="this.value = this.value.toLowerCase();" />
                                <span asp-validation-for="Ingredients[0].Quantity" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                <input asp-for="Ingredients[0].Unit" class="form-control form-control-sm" onkeyup="this.value = this.value.toLowerCase();" />
                                <span asp-validation-for="Ingredients[0].Unit" class="text-danger"></span>
                            </div>
                        </td>*@
                        <td>
                            <input id="deletebutton" class="btn btn-link pull-left" role="link" type="submit" value="Delete" style="padding:0" />
                        </td>
                    </tr>
                </table>

                <button id="addButton" type="submit" class="btn btn-default btn-sm pull-right">New Ingredient</button>

                <br />
                <hr />

                <div class="form-group">
                    <input type="submit" value="Submit Recipe" class="btn btn-primary pull-right" />
                </div>
            </fieldset>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/bundles/jqueryval"></script>
    <script type="text/javascript">
        var s = document.getElementById("counter");
        counter = 0;
        $(function () {

            $('#addButton').click(function () {           
                counter++;
                $('<tr id="tablerow' + counter + '"><div class="editor-field"><td>' +
                    '<input class="form-control form-control-sm" onkeyup="this.value = this.value.toLowerCase();" type="text" data-val="true" data-val-length="The field Ingredient must be a string with a minimum length of 3 and a maximum length of 50." data-val-length-max="50" data-val-length-min="3" data-val-required="The Ingredient field is required." id="Ingredients_' + counter + '__Name" name="Ingredients[' + counter + '].Name" value="">' +
                    '<span class="text-danger field-validation-valid" data-valmsg-for="Ingredients[' + counter + '].Name" data-valmsg-replace="true"></span>' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control form-control-sm valid" onkeyup="this.value = this.value.toLowerCase();" type="text" data-val="true" data-val-length="The field Ingredient must be a string with a minimum length of 3 and a maximum length of 50." data-val-length-max="50" data-val-length-min="3" data-val-required="The Ingredient field is required." id="Ingredients_' + counter + '__Quantity" name="Ingredients[' + counter + '].Quantity" value="" aria-describedby="Ingredients_' + counter + '__Quantity-error" aria-invalid="false">' +
                    '<span class="text-danger field-validation-valid" data-valmsg-for="Ingredients[' + counter + '].Quantity" data-valmsg-replace="true"></span>' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control form-control-sm valid" onkeyup="this.value = this.value.toLowerCase();" type="text" data-val="true" data-val-length="The field Ingredient must be a string with a minimum length of 3 and a maximum length of 50." data-val-length-max="50" data-val-length-min="3" data-val-required="The Ingredient field is required." id="Ingredients_' + counter + '__Unit" name="Ingredients[' + counter + '].Unit" value="" aria-describedby="Ingredients_' + counter + '__Unit-error" aria-invalid="false">' +
                    '<span class="text-danger field-validation-valid" data-valmsg-for="Ingredients[' + counter + '].Unit" data-valmsg-replace="true"></span>' +
                    '</td>' +
                    '<td>' +
                    '<input id="deletebutton" class="btn btn-link pull-left" role="link" type="submit" value="Delete" style="padding:0" />' +
                    '</td>' +
                    '</div></tr>').appendTo('#ingredientTable');
                return false;
            });
        });

          $('table').on('click', 'input[id="deletebutton"]', function(e){
           $(this).closest('tr').remove()
        });

    </script>
}
