@page "{id:int?}"
@model FamilyRecipes.Pages.Recipes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Recipe.RecipeID" id="RecipeID" />
            <input type="hidden" asp-for="Recipe.CreatedDate" id="CreatedDate"/>
            <div class="form-group">
                <label asp-for="Recipe.Name" class="control-label"></label>
                <input asp-for="Recipe.Name" class="form-control" onkeyup="this.value = this.value.toTitleCase();" />
                <span asp-validation-for="Recipe.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Type" class="control-label"></label>
                <input asp-for="Recipe.Type" class="form-control" onkeyup="this.value = this.value.toTitleCase();" />
                <span asp-validation-for="Recipe.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.CreatedBy" class="control-label"></label>
                <input asp-for="Recipe.CreatedBy" class="form-control" onkeyup="this.value = this.value.toTitleCase();" />
                <span asp-validation-for="Recipe.CreatedBy" class="text-danger"></span>
            </div>
            @using FamilyRecipes.Models
            @{
        ViewBag.Title = "Ingredients";
            }

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div id="IngredientList">
                            <partial name="../Shared/_ingredients.cshtml" model="Model.Ingredients" />
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <button type="submit" class="btn btn-primary pull-left" id="updateButton">Update Recipe</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript">
        var counter = '@Model.Ingredients.Count()';
        $(function () {
            $('#addButton').click(function addRow() {
                $('<tr id="tablerow' + counter + '"><td class="data">' +
                    '<input class="form-control form-control-sm valid text-box single-line" onkeyup="this.value = this.value.toLowerCase();" data-val="true" data-val-number="The field Quantity must be a number." data-val-required="The Quantity field is required." id="z' + counter + '__Name" name="[' + counter + '].Name" type="text" >' +
                    '<span class="text-danger field-validation-valid" data-valmsg-for="['+ counter + '].Name" data-valmsg-replace="true"></span>' +
                    '</td>' +
                    '<td class="data">' +
                    '<input class="form-control form-control-sm valid text-box single-line" onkeyup="this.value = this.value.toLowerCase();" data-val="true" data-val-number="The field Quantity must be a number." data-val-required="The Quantity field is required." id="z' + counter + '__Quantity" name="[' + counter + '].Quantity" type="text" >' +
                    '<span class="text-danger field-validation-valid" data-valmsg-for="['+ counter + '].Quantity" data-valmsg-replace="true"></span>' +
                    '</td>' +
                    '<td class="data">' +
                    '<input class="form-control form-control-sm valid text-box single-line" onkeyup="this.value = this.value.toLowerCase();" data-val="true" data-val-number="The field Quantity must be a number." data-val-required="The Quantity field is required." id="z' + counter + '__Unit" name="[' + counter + '].Unit" type="text" >' +
                    '<span class="text-danger field-validation-valid" data-valmsg-for="['+ counter + '].Unit" data-valmsg-replace="true"></span>' +
                    '</td>' +
                    '<td>' +
                    '<input id="deletebutton" class="btn btn-link pull-left" role="link" type="submit" value="Delete" style="padding:0" />' +
                    '</td>' +
                  '</tr>').appendTo('#ingredientTable');
                counter++;
                return false;
            });
        });

        $('table').on('click', 'input[id="deletebutton"]', function(e){
           $(this).closest('tr').remove()
        });


        //Delete event handler.
        $("body").on("click", "#ingredientTable .Delete", function () {
                var id = $(this).parent().find('input:hidden:first').val();
                var RequestHeader = $('input:hidden[name="__RequestVerificationToken"]').val();
                var row = $(this).closest('tr');
                $.ajax({
                    async: false,
                    type: "POST",
                    url:"/Recipes/Edit?handler=Delete",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN", RequestHeader);
                        },
                    data: {"id" : id },
                    success: function (response) {
                        if ($("#ingredientTable tr").length > 2) {
                            row.remove();
                        }
                        else {
                            alert("Recipe must have at least 1 ingredient.");
                        }
                    },
                    error: function (response) {
                        alert("error!");  //
                    }

            });
        });

          $('#updateButton').click(function () {
            var RequestHeader = $('input:hidden[name="__RequestVerificationToken"]').val();
            var ingredientRows = [];
            var headers = []
            headers[0] = 'Name';
            headers[1] = 'Quantity';
            headers[2] = 'Unit';
            headers[3] = 'IngredientID';
            $('#ingredientTable tbody tr').has('td').each(function(index, item) {
                var arrayItem = {};
                $('.data', $(this)).each(function(index, item) {
                    arrayItem[headers[index]] = $(item).find('input').val();
                });
                ingredientRows.push(arrayItem);
            });
            var RecipeID = document.getElementById("RecipeID").value;
            var CreatedDate = document.getElementById("CreatedDate").value;
            var RecipeName = document.getElementById("Recipe_Name").value;
            var RecipeType = document.getElementById("Recipe_Type").value;
            var RecipeCreatedBy = document.getElementById("Recipe_CreatedBy").value;
            var Recipe = {  'RecipeID' : RecipeID,
                            'CreatedDate' :CreatedDate,
                            'Name' : RecipeName,
                            'Type' : RecipeType,
                            'CreatedBy' : RecipeCreatedBy
                            };

            $.ajax({
                //async: false,
                type: "POST",
                url: "/Recipes/Edit?handler=Edit",
                beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN", RequestHeader);
                    },
                data: {'Recipe' : Recipe,
                        'Ingredients' : ingredientRows,
                        '__RequestVerificationToken' : RequestHeader},
                datatype: 'json',
                success: function (response) {
                        window.location = "https://localhost:5001/Recipes/";
                    },
                error: function (response) {
                    alert("error!");  //
                    }
                });
         return false;
        });


    </script>
}
